.project-body{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-top: 4rem;
}
@media screen and (max-width: 700px) {
    .project-body{
      position: relative;
      align-items: center;
      margin-left: 0;
      padding-top: 2rem;
    }
    
}
  @media screen and (min-width: 701px) and (max-width: 1324px){
    .project-body{
      position: relative;
      align-items: center;
      margin-left: 0;
    }
       
}

.prjct-heading{
    margin: 4rem 0 0 1rem;
    padding-left: 0px;
    text-align: start; 
}
.pj-body{
    margin-top: 3rem;
    display: flex;
    height: 20rem;
    flex-direction: row;
    background-color: rgba(102, 102, 95, 0.351);
    font-family: 'Signika Negative', sans-serif;
}
.pj-abt{
    color: white;
    text-align: start;
    width: 70rem;
}
.pj-name{
    font-size: 2rem;
    margin-left: 3.5rem;
    margin-top: 4rem;
}
.pj-view{
    margin-left: 3.5rem;
    margin-top: 3rem;
    font-size: 15px;
    padding: 9px;
    background-color: #28e98c;
    cursor: pointer;
    border-radius: 5px;
    border-color: none;
    font-family: 'Signika Negative', sans-serif;
    /* box-shadow: 0px 0px 10px 2px ; */
    
}
.pj-view:hover{
    font-size: 15.2px;
    box-shadow: 0px 4px 15px 0px ;
}

.pj-dependencies{
    font-size: 18px;
    margin-left: 3.6rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

.pj-img{
    margin-top: 4rem;
    margin-left: 20px;
    margin-right: 20px;
    width: 70rem;
    height: 12rem;

}
.pj-img:hover{
    /* box-shadow: 0px 4px 15px 0px; */
    /* background-color: #28e98c5f; */
    border-radius: 5px;
    scale: 1.1;
    transition: all 1s ;
}
@media screen and (max-width: 700px) {
    .pj-body{
        width: 20rem;
        height: 12rem;
        text-align: center;
        flex-direction: column;
    }
    .pj-img{
        display: none;
    }
    .pj-abt{
        width: 20rem;
        
    }
    .pj-name{
        margin-top: 30px;
        font-size: 25px;
        margin-left: 0;
        text-align: center;
    }
    .pj-dependencies{
        font-size: 17px;
        margin-left: 1rem;
        text-align: center;
    }
    .pj-view{
        padding: 5px;
        font-size: 15px;
        margin-top: 30px;
        margin-left: 7rem;
    }    
}
  @media screen and (min-width: 701px) and (max-width: 1324px){
    .pj-img{
        width: 23rem;
        height: 12rem;
    }
    .pj-abt{
        width: 20rem;
    }
    .pj-name{
        margin-top: 3rem;
        font-size: 2.2rem;
    }
    .pj-dependencies{
        font-size: 1.5rem;
    }
    .pj-view{
        font-size: 1.3rem;
        margin-top: 2rem;
    }      
}
@media screen and (min-width: 1325px) and (max-width: 1486px){
    .pj-name{
        margin-top: 3rem;
        font-size: 1.5rem;
    }
    .pj-dependencies{
        font-size: 1rem;
    }
    .pj-view{
        font-size: 0.8rem;
        margin-top: 2rem;
    }
    .pj-img{
        width: 23rem;
        height: 12rem;
    }
}
