.resume-body{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-top: 4rem;
}


.rsm-heading{
    margin: 4rem 0 0 1rem;
    padding-left: 0px;
    text-align: start;
      
}

.rsmBox-content{
    margin-top: 3rem;
}

@media screen and (max-width: 700px) {
    .resume-body{
      position: relative;
      align-items: center;
      margin-left: 0;
      padding-top: 2rem;
    }
    .rsm-heading{
        width: 23rem;
        text-align: center; 
    }
    
  }
  @media screen and (min-width: 701px) and (max-width: 1324px){
    .resume-body{
      position: relative;
      align-items: center;
      margin-left: 0;
      padding-top: 2rem;
    }
     
  }
  .rs-view{
    margin-left: 3rem;
    margin-top: 5rem;
    font-size: 15px;
    padding: 9px;
    background-color: #28e98c;
    cursor: pointer;
    border-radius: 5px;
    border-color: none;
    font-family: 'Signika Negative', sans-serif;
    /* box-shadow: 0px 0px 10px 2px ; */
    
}
.rs-view:hover{
    font-size: 15.2px;
    box-shadow: 0px 4px 15px 0px ;
}
@media screen and (max-width: 700px){
  .rs-view{
    padding: 5px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 0;
} 
}
@media screen and (min-width: 701px) and (max-width: 1324px){
  .rs-view{
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-left: 0;
}
}