.about-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:  4rem 0 0 2rem;
    padding: 1.9rem;
    position: fixed;
    width:17rem;
    height: 34rem;
    border-radius: 46px;
    border: 1px solid hsl(60, 1%, 63%);
    color: white;
    
   
}


.about-cart-header{
  margin: 5px;
  padding: 4px;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Signika Negative', sans-serif;

  .imgc {
    width: 70px;
    height: 30px;
  }
  .designation:hover{
    color: #28e98c;
  }
}


.imgp {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 70px;
    width: 8rem;
    height: 11rem;
    border-radius: 20px;
}


.email {
  margin-top: 35px;
  font-size: 20px;
  font-family: 'Signika Negative', sans-serif;
}
.address{
  margin-top: 5px;
  font-family: 'Signika Negative', sans-serif;
}
.copyright{
  margin-top: 5px;
}
.social-media-door {
  margin-top: 20px; margin-left: 30px; margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  
  .logo {
    padding: 11px;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
  }
}

.logo:hover {
    color: #28e98c;
    border: 1px solid #28e98c;
   }
  

.hireButton {
  margin: 25px 8px;
  display: flex;
  background-color: #28e98c;
  border: 2px solid rgb(30, 29, 29);
  padding: 10px;
  border-radius: 25px; 
  cursor: pointer;
  width: 15rem;
} 

.btn {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  background-color: inherit;
  border: none;
  font-size: 19px;
  /* padding-left: 30%; */
  justify-content: space-between;
  cursor: pointer;
  color: rgb(30, 29, 29);
  font-family: 'Signika Negative', sans-serif;
  text-decoration: none;
}

.logo2 {
  display: flex;
  font-size: 23px;
  margin-right: 5px; 
}


@media screen and (max-width: 1324px){
  .about-cart{
    position: relative;
    width: 28rem;
    align-items: center;
    top: 4rem;
    margin: 0;
  }  
  .social-media-door{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(0,1.2fr) minmax(0,1.2fr) minmax(0,1.2fr) minmax(0,1.2fr); 
  }
  .imgp{
    margin-left: 0; 
  }
  .about-cart-header{
    display: grid;
    grid-gap: 15rem;
    grid-template-columns: minmax(0,1.2fr) minmax(0,1.2fr);    
  }
}
 
@media screen and (max-width: 700px) {
  .about-cart{
    position: relative;
    align-items: center;
    width: 18rem;
    margin: 0;
  }
  .social-media-door{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(0,1.2fr) minmax(0,1.2fr) minmax(0,1.2fr) minmax(0,1.2fr); 
  }
  .imgp{
    margin-left: 0;
  } 
  .about-cart-header{
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: minmax(0,1.2fr) minmax(0,2.5fr);    
  }
}

@media screen and (max-width: 700px) {
  .about-cart{
    width: 16rem;
    margin: 0;
  }
}  