
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');


.jrny-body{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-top: 4rem;
    
}
.jrny-heading{
    margin: 4rem 0 0 1rem;
    padding-left: 0px;
    text-align: start;   
}
.jrny-content{
    color: white;
    margin: 1rem 0 0 1rem;
    padding-left: 0px;
    text-align: start; 
}
.jrny-heading{
    font-size: 70px;  
}
.jrny-txt{
    color: hsl(60, 1%, 63%);
    margin-top: 2rem;
    font-size: 19px;
    font-family: 'Signika Negative', sans-serif;
}
@media screen and (max-width: 700px) {
    .jrny-body{
      position: relative;
      align-items: center;
      margin-left: 0;
      padding-top: 2rem;
    }
    .jrny-heading{
        margin-left: 0;
        margin-top: 2rem;
    }
    .jrny-content{
        text-align: centre;
        margin-left: 0;
        margin-top: 0;
    }
    .jrny-txt{
        padding: 1rem;
        font-size: 20px;
        text-align: center;
        width: 20rem;
    } 
    
  }
  @media screen and (min-width: 701px) and (max-width: 1324px){
    .jrny-body{
      position: relative;
      align-items: center;
      margin-left: 0;
    }
    .jrny-heading{
        margin-left: 0;
    }
    .jrny-content{
        text-align: centre;
        /* margin-top: 2rem; */
    }
    .jrny-txt{
        padding: 1rem;
        font-size: 25px;
        text-align: center;
        width: 40rem;
    } 
  }
